.sluzby__button{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: var(--main-orange);
    font-weight: 700;
    border: 2px;
    border-color: var(--main-orange);
    border-style: dashed;
    background-color: white;
    padding: 12px 40px;
    display: inline-block;
}

.presvedceni__button{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: none;
    background-color: var(--main-orange);
    padding: 12px 40px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.presvedceni__button:hover{
	transform: scale(0.9);
}

.references__button{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: none;
    background-color: var(--main-orange);
    padding: 12px 40px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.references__button:hover{
	transform: scale(0.9);
}

.footer__button{
    text-align: center;
    text-decoration: none;
    font-size: 15px;
    color: var(--main-orange);
    font-weight: 700;
    border: none;
    background-color: white;
    padding: 20px 50px;
    display: inline-block;
    transition: all 0.3s ease-in-out;
}

.footer__button:hover{
	transform: scale(0.9);
}

.form__button--kontakt{
    font-family: Open Sans;
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: none;
    background-color: var(--main-orange);
    padding: 20px 50px;
    display: inline-block;
    margin-bottom: 50px;
}


.hero__button{
    text-align: center;
    text-decoration: none;
    font-size: 14px;
    color: white;
    font-weight: 700;
    border: none;
    background-color: var(--main-orange);
    padding: 12px 40px;
}