/* FONTY A STYLY */

html {
    font-family: Open Sans;
    color: var(--text-dark-grey);
    font-size: 16px;
}

:root {
    --main-orange: #EB6C27;
    --background-white: #F5F5F5;
    --text-dark-grey: #3A3A3A;
    --ligh-grey: #888888;
}

/* INDEX */

h1 {
    font-size: 7.5em;
}

h2 {
    font-size: 3.75em;
}

.article__h--large {
    font-size: 3.75em;

}

h3 {
    font-size: 1.875em;
}

h4 {
    font-size: 1.5625em;

}

h5 {
    font-size: 3.75em;
}


.sluzby__h--small {
    font-size: 1.875em;
}

.footer__h {
    font-size: 3.75em;
}

.onas__h {
    font-size: 3.75em;
}

.kontakt__h {
    font-size: 3.75em;
}

.poptavka__h {
    font-size: 1.875em;
}




header {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../images/pageheader-1920w.jpg");
    background-blend-mode: normal, normal, hue, normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12em;
    padding-bottom: 1em;
}

.hero__button {
    display: block;
    width: 20em;
    margin: auto;
}


.header__hero {
    padding-top: 40em;
    background: none;

}

.navbar {
    position: absolute;
    background-color: white;
    top: 2em;
    left: 10em;
    right: 10em;

}

.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.navbar .navbar__menu {
    position: unset;
    background-color: white;
    padding: 0;
    width: auto;

}

.navbar {
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    padding: 2em;
    margin-top: -3px;
}

.nav-link {
    transition: all 0.3s ease-in-out;
    color: var(--ligh-grey);

}

.nav-link:hover {
    background-color: rgba(235, 108, 39, 0.6);
    color: white;
}

.nav-link--active {
    color: white;
    background-color: var(--main-orange);
}


.navbar__menu::before {
    display: none;
}


/* SLUZBY */

.sluzby__grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sluzby__grid article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.sluzby__grid article .sluzby__img {
    height: 200px;
}


.presvedceni__div {
    padding: 6em;
}



/* REFERENCE */

.references {
    margin: 20px;
    margin: 10em;
    align-items: center;
    padding: 0 10em 0 10em;
}

.references__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.references__item {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.references__item .references__img {
    position: relative;
    z-index: -1;
}

.references__item .references__text {
    position: absolute;
    inset: 0;
    padding: 1rem 0.25rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: white;
    transition: all 0.3s ease-in-out;
}

.references__item .references__text h4 {
    text-transform: uppercase;
}

.references__item .references__text::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--main-orange);
    z-index: -1;
    opacity: 0;
}

.references__item:hover .references__text {
    opacity: 1;
}

.references__item:hover .references__text::before {
    opacity: 0.5;
}

.box {
    padding-left: 3em;
}

.references__article {
    padding: 0 10em 0 10em;
}



.sluzby__container {
    padding: 0 35em 5em 15em;
}



header {
    margin-bottom: 10em;
}

.onas__container {
    padding: 0 35em 5em 15em;
    margin: 0;
}

.onas__h {
    display: table;
    margin: 0 auto;
}

/* KONTAKT */



.section--kontakt {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.section--kontakt .section__title {
    display: grid;
    grid-column-start: 1;
    grid-column-end: 3;
    text-align: center;
}

.map {
    margin-left: 2em;
    padding: 0 6em 0 0;
    background: linear-gradient(0deg, rgba(235, 108, 39, 0.6), rgba(235, 108, 39, 0.6)), url(../images/mapa.jpg);
    height: 20em;
    background-position: center;
}

.kontakt {
    margin: 0;
    justify-content: center;
    height: 100%;
    gap: 2em;
}

.list {
    margin-left: 3em;
}


.form__item__input {
    border: 1px solid var(--main-orange);
    background-color: white;
}

form button {
    border: none;
    font-weight: 700;
}


/* REFERENCE */

.reference__h2 {
    display: table;
    margin: 0 auto;
    margin-bottom: 1em;
}

.reference__h2--small {
    display: table;
    margin: 0 auto;
}

.reference__grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 1em;
    margin-top: 2em;
}