.hero__button {
    display: block;
    width: 20em;
}

.header {
    position: relative;
}

.header__hero {
    padding-top: 40em;

}

.navbar {
    position: absolute;
    background-color: white;
    top: 2em;
    left: 10em;
    right: 10em;

}

.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.navbar .navbar__menu {
    position: unset;
    background-color: white;
    padding: 0;
    width: auto;

}

.navbar {
    padding: 0;
}

.nav-item a {
    color: var(--ligh-grey);
    text-decoration: none;
    padding: 2em;
    margin-top: -3px;
}

.nav-link--active {
    color: white;
    background-color: var(--main-orange);
}


.navbar__menu::before {
    display: none;
}

.navbar__menu,
.hamburger-menu-list,
.navbar__menu--hidden {}

/*hamburger-menu-list*/