* {
    box-sizing: border-box;
}

body {
    margin: 0px;
}

/* FONTY A STYLES */

html {
    font-family: Open Sans;
    color: var(--text-dark-grey);
    font-size: 14px;
}

:root {
    --main-orange: #EB6C27;
    --background-white: #F5F5F5;
    --text-dark-grey: #3A3A3A;
    --ligh-grey: #888888;
}

h1 {
    font-size: 2.14em;
    font-weight: 800;
    color: white;
    margin-bottom: 0;
}

h2 {
    font-size: 1.42em;
    font-weight: 300;
    color: white;
    margin-top: 0;
}

.article__h--large {
    font-size: 1.57em;
    font-weight: 700;
}

.article__h--large--orange {
    color: var(--main-orange);
}

h3 {
    font-size: 1.42em;
}

h4 {
    font-size: 1.57em;
    margin: .1em 0 0 0;

}

h5 {
    font-size: 2.14em;
    text-align: center;

}


.sluzby__h--small {
    font-weight: 700;
    font-size: 1.21em;
    color: white;
    display: block;
    margin-bottom: .5em;
}

.footer__h {
    font-weight: 700;
    font-size: 1.57em;
}

.onas__h {
    font-weight: 700;
    font-size: 2.14em;
}

.kontakt__h {
    font-weight: 700;
    font-size: 2.14em;
    color: black;
}

.poptavka__h {
    font-size: 1.57em;
    font-weight: 700;
    color: black;
}

/* NAVBAR */

.hamburger-menu {
    color: inherit;
    display: none;
    flex-direction: column;
    align-items: center;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.75em;

}

.hamburger-menu::after {
    content: url(../images/hamburger.svg);
    transition: all 0.3s ease-in-out;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    padding: 1rem;
}

.navbar .navbar__menu {
    position: absolute;
    left: 1rem;
    top: 100%;
    background-color: var(--main-orange);
    width: calc(100% - 2rem);
    padding: 1em;
    margin: .2em 0 0 0;
}

.navbar .navbar__menu::before {
    content: "";
    position: absolute;
    top: -12px;
    right: 12px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 12px 12px 12px;
    border-color: transparent transparent var(--main-orange) transparent;
}

.navbar__menu--hidden {
    display: none;
}

@media (max-width: 1023px) {
    .hamburger-menu {
        display: flex;
    }
}

.nav-link--active {
    font-weight: 700;
    color: white;
}

.nav-link {
    color: white;

}

.nav-item a {

    padding: .5em 0 .5em 0;
    display: block;
}

.hamburger-menu-list {
    list-style-type: none;
}

.sluzby__img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    object-position: center;
}

.sluzby__grid article .sluzby__img {
    border-radius: 0 0 2.85em 0;
}

.sluzby__grid article:nth-of-type(even) .sluzby__img {
    order: 1;
    border-radius: 0 0 0 1.42em;
}

.header__hero {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../images/pageheader-1920w.jpg");
    background-blend-mode: normal, normal, hue, normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12em;
    padding-bottom: 1em;
}

.hero__button {
    display: none;
}

#services {
    margin: 1.4em;
}

.sluzby__button {
    margin-bottom: 2.85em;
}

s .sluzby__img:nth-child() {
    border-radius: 0 0 2em 0;
}

.sluzby__img:nth-child() {
    border-radius: 0 0 0 1em;
}

.presvedceni__div {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.8), rgba(36, 36, 36, 0.8)),
        linear-gradient(180deg, rgba(66, 51, 42, 0.4) 0%, rgba(255, 255, 255, 0) 100%), url(../images/background-CTAblock-4460w.jpg);
    background-blend-mode: normal, normal, hue, normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 1.6em;
    margin-bottom: 3.28em;
}



/* REFERENCES */

.references__item {
    color: var(--text-dark-grey);
    text-decoration: none;
    margin-bottom: 2em;
}

#reference {
    margin: 1.4em;
    text-align: center;
}

.references__list {
    display: grid;

}

.references__img {
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.footer {
    background-color: var(--main-orange);
    color: white;
    text-align: center;
    padding: 2.57em;
    margin-top: 5.35em;
}

/* O NÁS */

.onas__container {

    margin: 8em 1.4em 1.4em 1.4em;
}

ul li::marker {
    color: var(--main-orange);
}


/* KONTAKT */

.kontakt {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 2em;
}

.kontakt li {
    position: relative;
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: .5em;
}

.kontakt a {
    text-decoration: none;
    font-weight: 700;
    color: var(--main-orange);
}

.kontakt {
    padding: 0;
    margin-bottom: 4em;
}

.kontakt__icon {
    width: 2em;
    height: 2em;
    background-color: var(--main-orange);
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.kontakt__icon img {
    width: .75em;
    height: .75em;
}

.map {
    width: 100%;
    padding: 0 1.5em 0 1.5em;
    height: 14em;
    background-image: url(../images/mapa.jpg);
    margin-left: -1.5em;
    background-position: center;
    background-size: cover;
}

.form__item {
    font-weight: 700;
    display: flex;
    gap: .5em;
    flex-direction: column;
}

.form__item__input {
    border: 1px solid var(--main-orange);
    background-color: white;
}

form button {
    border: none;
    font-weight: 700;
}

form {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5em;
}

section {
    padding: 3em 1.5em 3em 1.5em;
}

/* REFERENCE GRIDY */

.reference__h2 {
    font-size: 2.14em;
    font-weight: 700;
}

.reference__grid {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: .5em;
}

.reference__img {
    width: 100%;
}