header {
    background: linear-gradient(0deg, rgba(36, 36, 36, 0.4), rgba(36, 36, 36, 0.4)),
        linear-gradient(180deg, rgba(255, 255, 255, 0.1) 0%, rgba(255, 255, 255, 0) 100%),
        linear-gradient(180deg, #42332A 0%, rgba(255, 255, 255, 0) 100%), url("../images/pageheader-1920w.jpg");
    background-blend-mode: normal, normal, hue, normal;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    padding-top: 12em;
    padding-bottom: 1em;
}

.hero__button {
    display: block;
    width: 20em;
    margin: auto;
}


.header__hero {
    padding-top: 40em;
    background: none;

}

.navbar {
    position: absolute;
    background-color: white;
    top: 2em;
    left: 10em;
    right: 10em;

}

.navbar__menu {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
}

.navbar .navbar__menu {
    position: unset;
    background-color: white;
    padding: 0;
    width: auto;

}

.navbar {
    padding: 0;
}

.nav-item a {
    text-decoration: none;
    padding: 2em;
    margin-top: -3px;
}

.nav-link {
    transition: all 0.3s ease-in-out;
    color: var(--ligh-grey);

}

.nav-link:hover {
    background-color: rgba(235, 108, 39, 0.6);
    color: white;
}

.nav-link--active {
    color: white;
    background-color: var(--main-orange);
}


.navbar__menu::before {
    display: none;
}


/* SLUZBY */

.sluzby__grid {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.sluzby__grid article {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
    align-items: center;
}

.sluzby__grid article .sluzby__img {
    height: 200px;
}






/* REFERENCE */

.references {
    margin: 20px;
    margin: 10em;
    align-items: center;
    padding: 0 10em 0 10em;
}

.references__list {
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 2rem;
}

.references__item {
    color: inherit;
    text-decoration: none;
    position: relative;
}

.references__item .references__img {
    position: relative;
    z-index: -1;
}

.references__item .references__text {
    position: absolute;
    inset: 0;
    padding: 1rem 0.25rem;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    color: white;
    transition: all 0.3s ease-in-out;
}

.references__item .references__text h4 {
    text-transform: uppercase;
}

.references__item .references__text::before {
    content: "";
    position: absolute;
    inset: 0;
    background-color: var(--main-orange);
    z-index: -1;
    opacity: 0;
}

.references__item:hover .references__text {
    opacity: 1;
}

.references__item:hover .references__text::before {
    opacity: 0.5;
}

.box {
    padding-left: 3em;
}

.references__article {
    padding: 0 10em 0 10em;
}


.novostavby__article {
    padding: 17.85em;
}

header {
    margin-bottom: 10em;
}

.onas__container {
    padding: 2em 10em 5em 10em;
    margin: 0;
}

.onas__h {
    display: table;
    margin: 0 auto;
}