/* Index */


.sluzby{
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 100px;

}

.sluzby__img {
    grid-row: 1 / 4;
    height: auto;
}




/* neco dal */

.references{
    align-items: center;
    text-align: center;
    margin: 20px;
}

.box{
    padding-left: 3em;
}

.reference__list{
    display: flex;
    flex-direction: row;
    margin-bottom: -50px;
    margin-left: 1em;
    margin-left: 1em;
       
}

.references__zbrojnice{
    margin: 10px;
}

.references__pradelna{
    margin: 10px;
}
.references__restyl{
    margin: 10px;
}

.references__text{
    text-align: center;
    margin-left: 10em;
    margin-right: 10em;
 
}

.references__text--hidden{
    visibility: hidden;
}
