html{
    font-family: Open Sans;
    color: var(--text-dark-grey);
}

:root{
    --main-orange: #EB6C27;
    --background-white: #F5F5F5;
    --text-dark-grey: #3A3A3A;
}

h1{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 0;
}

h2{
    font-size: 22px;
}

.h2--orange{
    color: var(--main-orange);
}


h3{
    font-size: 20px;
}

h4{
    color: white;
    font-size: 17px;
}

h5{
    font-size: 30px;
}

.top__p{
    color: white;
    font-size: 20px;
    font-weight: 300;
    margin-top: 0;
}

.nav__link{
    color: white;
    font-size: 16px;
    font-family: Open Sans;
    font-weight: 700;
    
}

.kontakt__header{
    font-family: Open Sans;
    font-size: 22px;
    font-weight: 700;
    color: black;
}

.kontakt__p{
    font-family: Open Sans;
    font-weight: 400;
    color: black;
}

